# Pandsの使い方を調べていく

## read_csv
本に載ってる方法だとHTML形式パースされてしまうのでこっちを使ったほうが良さそう
read_csvすると、DataFrameが手に入る

In [1]:
import pandas as pd

df = pd.io.parsers.read_csv(
    filepath_or_buffer='https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data',
    header=None,
    sep=',',
    )

df.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

## iloc
DataFrameにたいしてｈ,iloc[行,列]でDataframeのsubsetが手に入る。ilocは行・列番号を指定する（ラベルで指定するメソッドもある）
DataFrameにたいして、valuesをすると、numpy.ndarrayが手に入る

In [2]:
subDf = df.iloc[0:100, [0,2]] #100行のデータセットで、0列と2列のみを切り出す
subDf.head()

     0    2
0  5.1  1.4
1  4.9  1.4
2  4.7  1.3
3  4.6  1.5
4  5.0  1.4

In [3]:
X = subDf.values
type(X)

numpy.ndarray

In [4]:
X.shape

(100, 2)